<section class="widget tagCloud">
    <div class="widget-icon">
        {{ partial "helper/icon" "tag" }}
    </div>
    <h2 class="widget-title section-title">{{ T "widget.tagCloud.title" }}</h2>

    <div class="tagCloud-tags">
        <!-- 
        {{ range first .Site.Params.widgets.tagCloud.limit .Site.Taxonomies.tags.ByCount }}
            <a href="{{ .Page.RelPermalink }}" class="font_size_{{ .Count }}">
                {{ .Page.Title }}
            </a>
        {{ end }}
        -->
        {{- $fontUnit := "rem" -}}
        {{- $largestFontSize := 1.8 -}}
        {{- $smallestFontSize := 1.0 -}}
        {{- range $name, $taxonomy := $.Site.Taxonomies.tags -}} 
            {{- $currentTagCount := len $taxonomy.Pages -}}
            {{- $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount 1) 0.1) ) -}}
            <!--Current font size: {{$currentFontSize}}-->
            <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" aria-label="{{ $name }} ({{$currentTagCount}} posts)" style="font-size:{{$currentFontSize}}{{$fontUnit}}">{{- $name ($currentTagCount) -}}</a>
        {{- end -}}   
    </div>
</section>